@media screen and (max-width: 1000px) {








.nav-list{
    margin-inline: 0.5rem;
}

   /*WORK*/

   .featured-work-container {
      padding: 0rem;
   }

   .featured-work-about-container {
      flex-direction: column-reverse;
      margin-block: 4rem;
      margin-bottom: 4.5rem;
      gap: 0.5rem;
   }

   .featured-work-keywords-container {
    width: fit-content;
    width: auto;
   }

   .featured-work-keywords {
    display: none;
    font-size: 10vw;
    text-align: left;
   }

   .text-box-container {
      margin-top: 0rem;
    justify-content: center;
   }

   .text-box-text-1 {
      font-size: 1.5rem;
   }
   
   .text-box-text-2 {
      font-size: 1.5rem;
   }

   .larger {
    font-size: 10vw;
   }

   .reel-container {
    width: 100%;
   }

   .work-container {
      flex-direction: column;
      gap: 0;
      row-gap: 0.5rem;
      margin-bottom: 0.5rem;
   }

   .work-title {
    bottom: 0.7rem;
    left: 0.5rem;
    }

   

   /* GALLERY MAKE RESPONSIVE*/
    
    .gallery {
        width: 100%;
        height: 120svh;
    }

    .boxes-main-container {
        flex-direction: column;
        gap: 0.5rem;
    }

    .box-container {
        height: 12vw;
        width: 50vw;
        border-radius: 10rem;
        outline: 4px solid var(--background); 
        outline-offset: -3px;
    }

    .box-container:hover {
        height: 73vw;
        width: 100vw;
        border-radius: 2rem;
    }



   /* GALLERY END*/






   /* Footer */

   .footer-container{
      display: flex;
      flex-wrap: wrap;
      height: 70svh;
      width: 100%;
      overflow: hidden;
      padding:1rem;
      align-content: flex-end;
   }

   .footer-title {
      font-size: 20vw;
      height: fit-content;
      padding-left: 0;
   }

   .footer-details-container {
      margin: 0;
  }



}
