@media screen and (max-width: 1000px) {








.nav-list{
    margin-inline: 0.5rem;
}
   .hero {
      height: 100vh;
   }
  
  .hero-main-container {
      height: 100vh;
      width: auto;
      position: relative;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
   }
  
    
   .hero-logo-container {
      position: absolute;
      height: 100vh;
      width: 100%;
      overflow: hidden;
      text-align: center;
      display: flex;
      align-items: center;
      padding-top: 15vh;
    }
    
   .hero-logo {
      position: absolute;
      width: 400vw;
      left: -55vw;
      animation: none;
   }

   .hero-text-container {
      display: block;
      position: relative;
      justify-content: center;
      justify-items: center;
      width: 90vw;
      height: fit-content;
      top: -1vmin;
   }
    
   .hero-text-studio {
      font-size: 9vmin;
      font-family: 'Playfair Display';
      font-weight: 900;
      top: 16.5vmin;
      opacity: 100%;
      animation: none;
      animation-timeline: none;
   }

   .hero-text-glued {
      display: flex;
      justify-content: center;
      color: var(--orange);
      font-size: 31vmin;
      font-family: 'Poppins';
      font-weight: 900;
   }

   .hero-text-about-cont {
      display: flex;
      position: relative;
      justify-content: center;
      width: 100%;
      top: -10vmin;
      opacity: 100%;
      animation: none;
      animation-timeline: none;
   }
    
   .hero-text-about {
      font-size: 0.8rem;
      font-family: 'Poppins';
      font-weight: 300;
   }






   /*WORK*/

   .featured-work-container {
      padding: 0rem;
   }

   .featured-work-about-container {
      flex-direction: column-reverse;
      margin-block: 0rem;
      margin-bottom: 0.5rem;
      gap: 0.5rem;
   }

   .featured-work-keywords-container {
    width: fit-content;
    width: auto;
   }

   .featured-work-keywords {
    display: none;
    font-size: 10vw;
    text-align: left;
   }

   .text-box-container {
      margin-top: 0rem;
    justify-content: center;
   }

   .text-box-text-1 {
      font-size: 1.5rem;
   }
   
   .text-box-text-2 {
      font-size: 1.5rem;
   }

   .larger {
    font-size: 10vw;
   }

   .reel-container {
    width: 100%;
   }

   .work-container {
      flex-direction: column;
      gap: 0;
      row-gap: 0.5rem;
      margin-bottom: 0.5rem;
   }

   .work-title {
    bottom: 0.7rem;
    left: 0.5rem;
    }

   

   /* GALLERY MAKE RESPONSIVE*/
    
    .gallery {
        width: 100%;
        height: 95vh;
    }

    .boxes-main-container {
        flex-direction: column;
        gap: 0.5rem;
    }

    .box-container {
        height: 12vw;
        width: 50vw;
        border-radius: 10rem;
        outline: 4px solid var(--background); 
        outline-offset: -3px;
    }

    .box-container:hover {
        height: 73vw;
        width: 100vw;
        border-radius: 2rem;
    }



   /* GALLERY END*/






   /* Footer */

   .footer-container{
      display: flex;
      flex-wrap: wrap;
      height: 70vh;
      width: 100%;
      overflow: hidden;
      padding:1rem;
      align-content: flex-end;
   }

   .footer-title {
      font-size: 20vw;
      height: fit-content;
      padding-left: 0;
   }

   .footer-details-container {
      margin: 0;
  }



}
